* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Background */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #dfe8df, #f1dfe0);
    padding: 10px;
}

/* Kotak To-Do List */
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fffdf9;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}

/* Judul */
.todo-app h2 {
    color: #687968;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Ikon */
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

/* Input + tombol */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eef2ec;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Input */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

/* Tombol Add */
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #d49a9d;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* Hover tombol */
button:hover {
    background: #c5878b;
}

/* Daftar tugas */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* Lingkaran checklist */
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(asset/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

/* Tugas selesai */
ul li.checked {
    color: #899388;
    text-decoration: line-through;
}

/* Checklist selesai */
ul li.checked::before {
    background-image: url(asset/checked.png);
}

/* Tombol hapus */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #899388;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* Hover tombol hapus */
ul li span:hover {
    background: #eef2ec;
}